<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  @for (column of displayedColumns; track column) {
  <ng-container [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef>{{ getHeader(column) }}</th>
    <td mat-cell *matCellDef="let character">
      {{ getCellValue(character, column) }}
    </td>
  </ng-container>
  }
  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef class="acciones-header">Acciones</th>
    <td mat-cell *matCellDef="let character" class="acciones-cell-parent">
      <span class="acciones-cell">
        <button
          mat-icon-button
          color="warn"
          aria-label="Favorito"
          matTooltip="Favoritos"
          (click)="addToFavorite(character)"
        >
          <mat-icon>favorite</mat-icon>
        </button>
        <button
          mat-icon-button
          color="primary"
          aria-label="Ver detalles"
          matTooltip="Detalles"
          (click)="goToDetails(character)"
        >
          <mat-icon>visibility</mat-icon>
        </button>
      </span>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumnsWithActions"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsWithActions"></tr>
</table>
