<div class="search">
  <div class="search-fields">
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input
        matInput
        [(ngModel)]="name"
        appAutoFocus
        placeholder="Buscar por nombre"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select [(ngModel)]="status">
        <mat-option value="">Todos</mat-option>
        @for (s of statuses; track s) {
        <mat-option [value]="s">{{ s }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div class="search-actions">
    <button mat-raised-button color="primary" (click)="onSearch()">
      Buscar
    </button>
    <button mat-raised-button color="basic" (click)="onClear()">Limpiar</button>
  </div>
</div>
