@if (!loading && character) {
<mat-card>
  <mat-card-header>
    <mat-card-title>{{ character.name }}</mat-card-title>
    <mat-card-subtitle
      >{{ character.species }} - {{ character.status }}</mat-card-subtitle
    >
  </mat-card-header>
  <div class="details-flex">
    <img mat-card-image [src]="character.image" [alt]="character.name" />
    <mat-card-content>
      <p><strong>Género:</strong> {{ character.gender | genderEs }}</p>
      <p><strong>Creado:</strong> {{ character.created | date : "medium" }}</p>

      <p><strong>Origen:</strong> {{ character.origin?.name }}</p>
      <p>
        <strong>Un residente de origen:</strong>
        @if (originResident) {
        {{ originResident.name }}
        } @else { No hay residentes en esta localización. }
      </p>

      <p><strong>Ubicación:</strong> {{ character.location?.name }}</p>
      <p>
        <strong>Un residente de ubicación:</strong>
        @if (locationResident) {
        {{ locationResident.name }}
        } @else { No hay residentes en esta localización. }
      </p>

      <p><strong>Episodios:</strong> {{ character.episode?.length }}</p>
      <p>
        <strong>Un episodio:</strong>
        @if (firstEpisode) {
        {{ firstEpisode.name }} ({{ firstEpisode.episode }}) } @else { No hay
        episodios disponibles para este personaje. }
      </p>

      <button
        mat-raised-button
        color="primary"
        (click)="goToHome()"
        class="back-btn"
      >
        Volver al listado
      </button>
    </mat-card-content>
  </div>
</mat-card>
} @else {
<app-loading />
}
